# PANDAS AVANÇADO
---

# CARREGANDO OS DADOS
---

## Configurações do projeto

### Importando pacotes

In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.3.5'

### Opções de configuração

[Documentação](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

In [5]:
pd.get_option("display.max_rows")

60

In [6]:
pd.get_option("display.max_columns")

20

[Opções disponíveis](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [8]:
pd.describe_option("display.max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

In [9]:
import numpy as np

In [15]:
df = pd.DataFrame(np.arange(10000).reshape(100, 100))
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,100,101,102,103,104,105,106,107,108,109,...,190,191,192,193,194,195,196,197,198,199
2,200,201,202,203,204,205,206,207,208,209,...,290,291,292,293,294,295,296,297,298,299
3,300,301,302,303,304,305,306,307,308,309,...,390,391,392,393,394,395,396,397,398,399
4,400,401,402,403,404,405,406,407,408,409,...,490,491,492,493,494,495,496,497,498,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9500,9501,9502,9503,9504,9505,9506,9507,9508,9509,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599
96,9600,9601,9602,9603,9604,9605,9606,9607,9608,9609,...,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699
97,9700,9701,9702,9703,9704,9705,9706,9707,9708,9709,...,9790,9791,9792,9793,9794,9795,9796,9797,9798,9799
98,9800,9801,9802,9803,9804,9805,9806,9807,9808,9809,...,9890,9891,9892,9893,9894,9895,9896,9897,9898,9899
99,9900,9901,9902,9903,9904,9905,9906,9907,9908,9909,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999

In [16]:
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 100)

In [ ]:
df

In [18]:
pd.reset_option("display.max_rows")

In [ ]:
df

## Carregando os dados

### Arquivos JSON - `read_json`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html)

## JSON

JSON (**J**ava**S**cript **O**bject **N**otation - Notação de Objetos JavaScript) é uma formatação leve de troca de dados. Para seres humanos, é fácil de ler e escrever. Para máquinas, é fácil de interpretar e gerar. Está baseado em um subconjunto da linguagem de programação JavaScript, Standard ECMA-262 3a Edição - Dezembro - 1999. JSON é em formato texto e completamente independente de linguagem, pois usa convenções que são familiares às linguagens C e familiares, incluindo C++, C#, Java, JavaScript, Perl, Python e muitas outras. Estas propriedades fazem com que JSON seja um formato ideal de troca de dados.

[fonte](https://www.json.org/json-pt.html)

[Online JSON Viewer](http://jsonviewer.stack.hu/)

In [20]:
data_json = '{"A": [1, 2, 3, 4], "B": [5 ,6 ,7 ,8], "C":[9, 10, 11, 12]}'
data_json

'{"A": [1, 2, 3, 4], "B": [5 ,6 ,7 ,8], "C":[9, 10, 11, 12]}'

In [22]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='index'
)
dados

   0   1   2   3
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

In [26]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='columns'
)
dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [27]:
dados = pd.read_json(
    path_or_buf='realestates.json',
    orient='columns'
)
dados

,normal,highlights
output,{'listings': [{'imovel': {'tipos': {'proprieda...,{'listings': [{'imovel': {'tipos': {'proprieda...

### Arquivos EXCEL - `read_excel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [29]:
bairros = pd.read_excel(
    io = "bairros.xlsx",
    sheet_name='Preço médio por tipo',
    usecols="C:E",
    header = 2,
    index_col=[0, 1],
    names=['bairros', 'tipo', 'valor_m2_bairro']
)
bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]

# TRANSFORMANDO E TRATANDO OS DADOS
---

## Transformando dados no formato JSON para uma tabela

In [30]:
dados

,normal,highlights
output,{'listings': [{'imovel': {'tipos': {'proprieda...,{'listings': [{'imovel': {'tipos': {'proprieda...

### `json_normalize`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html)

In [33]:
dados_normal = pd.json_normalize(
  data=dados.normal
)
dados_normal

                                            listings
0  [{'imovel': {'tipos': {'propriedade': 'Casa'},...

In [ ]:
dados_normal['listings'].iloc[0]

In [35]:
type(dados_normal['listings'].iloc[0])

list

In [36]:
len(dados_normal['listings'].iloc[0])

50

In [ ]:
dados_normal_listings = pd.json_normalize(data=dados_normal['listings'].iloc[0], sep='_', max_level=2)
dados_normal_listings

In [ ]:
dados_normal_listings = pd.json_normalize(
    data=dados.normal,
    sep='_',
    record_path=['listings']
)
dados_normal_listings

In [ ]:
dados_highlights_listings = pd.json_normalize(
    data=dados.highlights,
    sep='_',
    record_path=['listings']
)
dados_highlights_listings

## Trabalhando com dados textuais

### Transformando *strings* em listas do Python

In [ ]:
dados_normal_listings.head(2)

In [44]:
lista_str = dados_normal_listings.loc[0, 'imovel_caracteristicas_propriedade']
lista_str

"['Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade']"

In [45]:
type(lista_str)

str

In [46]:
lista_str[0]

'['

#### Métodos de *strings*

[Documentação](https://docs.python.org/3.6/library/stdtypes.html#string-methods)

In [47]:
lista_str[1:-1]

"'Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade'"

In [48]:
lista_str.strip("[]")

"'Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade'"

In [49]:
lista_str[1:-1].replace("'", "")

'Área de Serviço, Terraço, Churrasqueira, Quarto/WC Empregada, Sauna, Varanda, Gás Encanado, Closet, Piscina, Mobiliado, Armários Planejados, Acessibilidade'

In [51]:
lista = lista_str[1:-1].replace("'", "").split(", ")

In [52]:
type(lista)

list

In [53]:
Texto = dados_normal_listings.loc[:, 'imovel_caracteristicas_propriedade']
Texto

0     ['Área de Serviço', 'Terraço', 'Churrasqueira'...
1                                             ['Sauna']
2     ['Acessibilidade', 'Área de Serviço', 'Sauna',...
3     ['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...
4                               ['Armários Planejados']
5     ['Mobiliado', 'Varanda', 'Closet', 'Churrasque...
6     ['Churrasqueira', 'Gás Encanado', 'Cozinha Ame...
7     ['Quarto/WC Empregada', 'Gás Encanado', 'Sauna...
8     ['Acessibilidade', 'Mobiliado', 'Churrasqueira...
9     ['Área de Serviço', 'Terraço', 'Ambientes Inte...
10    ['Closet', 'Ambientes Integrados', 'Área de Se...
11                                                   []
12    ['Piscina', 'Quarto/WC Empregada', 'Gás Encana...
13    ['Sauna', 'Terraço', 'Closet', 'Gás Encanado',...
14                                                   []
15    ['Quarto/WC Empregada', 'Varanda', 'Piscina', ...
16    ['Vista Panorâmica', 'Sauna', 'Área de Serviço...
17    ['Quarto/WC Empregada', 'Churrasqueira', 'Sauna']
18    ['Sauna', 'Ambientes Integrados', 'Armários Pl...
19    ['Mobiliado', 'Acessibilidade', 'Área de Servi...
20    ['Sauna', 'Gás Encanado', 'Terraço', 'Ambiente...
21                                                   []
22    ['Terraço', 'Armários Planejados', 'Ambientes ...
23    ['Área de Serviço', 'Quarto/WC Empregada', 'Cl...
24    ['Cozinha Americana', 'Gás Encanado', 'Mobilia...
25    ['Área de Serviço', 'Ambientes Integrados', 'V...
26    ['Gás Encanado', 'Cozinha Americana', 'Vista P...
27    ['Vista Panorâmica', 'Quarto/WC Empregada', 'S...
28    ['Armários Planejados', 'Piscina', 'Churrasque...
29                                                   []
30    ['Mobiliado', 'Sauna', 'Cozinha Americana', 'Á...
31    ['Cozinha Americana', 'Varanda', 'Vista Panorâ...
32    ['Terraço', 'Vista Panorâmica', 'Piscina', 'Ac...
33    ['Cozinha Americana', 'Quarto/WC Empregada', '...
34    ['Área de Serviço', 'Terraço', 'Piscina', 'Clo...
35    ['Acessibilidade', 'Churrasqueira', 'Sauna', '...
36    ['Sauna', 'Vista Panorâmica', 'Terraço', 'Mobi...
37    ['Gás Encanado', 'Mobiliado', 'Cozinha America...
38    ['Área de Serviço', 'Gás Encanado', 'Cozinha A...
39    ['Acessibilidade', 'Cozinha Americana', 'Varan...
40    ['Sauna', 'Piscina', 'Closet', 'Varanda', 'Ace...
41                    ['Mobiliado', 'Vista Panorâmica']
42                                                   []
43    ['Cozinha Americana', 'Vista Panorâmica', 'Gás...
44    ['Mobiliado', 'Varanda', 'Cozinha Americana', ...
45    ['Ambientes Integrados', 'Sauna', 'Piscina', '...
46    ['Acessibilidade', 'Gás Encanado', 'Área de Se...
47    ['Acessibilidade', 'Quarto/WC Empregada', 'Arm...
48    ['Cozinha Americana', 'Mobiliado', 'Sauna', 'P...
49    ['Varanda', 'Closet', 'Armários Planejados', '...
Name: imovel_caracteristicas_propriedade, dtype: object

In [54]:
data_string = "#-> Churrasqueira | Sauna | Mobiliado | Piscina <-#"

In [66]:

data_string[4:-4].split(' | ')

['Churrasqueira', 'Sauna', 'Mobiliado', 'Piscina']

In [57]:

data_string.strip("#->< ").split(' | ')

['Churrasqueira', 'Sauna', 'Mobiliado', 'Piscina']

#### `str`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html)

In [67]:
Texto.str

In [68]:
Texto.str[1:-1]

0     'Área de Serviço', 'Terraço', 'Churrasqueira',...
1                                               'Sauna'
2     'Acessibilidade', 'Área de Serviço', 'Sauna', ...
3     'Vista Panorâmica', 'Piscina', 'Sauna', 'Close...
4                                 'Armários Planejados'
5     'Mobiliado', 'Varanda', 'Closet', 'Churrasquei...
6     'Churrasqueira', 'Gás Encanado', 'Cozinha Amer...
7     'Quarto/WC Empregada', 'Gás Encanado', 'Sauna'...
8     'Acessibilidade', 'Mobiliado', 'Churrasqueira'...
9     'Área de Serviço', 'Terraço', 'Ambientes Integ...
10    'Closet', 'Ambientes Integrados', 'Área de Ser...
11
12    'Piscina', 'Quarto/WC Empregada', 'Gás Encanad...
13    'Sauna', 'Terraço', 'Closet', 'Gás Encanado', ...
14
15    'Quarto/WC Empregada', 'Varanda', 'Piscina', '...
16    'Vista Panorâmica', 'Sauna', 'Área de Serviço'...
17      'Quarto/WC Empregada', 'Churrasqueira', 'Sauna'
18    'Sauna', 'Ambientes Integrados', 'Armários Pla...
19    'Mobiliado', 'Acessibilidade', 'Área de Serviç...
20    'Sauna', 'Gás Encanado', 'Terraço', 'Ambientes...
21
22    'Terraço', 'Armários Planejados', 'Ambientes I...
23    'Área de Serviço', 'Quarto/WC Empregada', 'Clo...
24    'Cozinha Americana', 'Gás Encanado', 'Mobiliad...
25    'Área de Serviço', 'Ambientes Integrados', 'Vi...
26    'Gás Encanado', 'Cozinha Americana', 'Vista Pa...
27    'Vista Panorâmica', 'Quarto/WC Empregada', 'Sa...
28    'Armários Planejados', 'Piscina', 'Churrasquei...
29
30    'Mobiliado', 'Sauna', 'Cozinha Americana', 'Ár...
31    'Cozinha Americana', 'Varanda', 'Vista Panorâm...
32    'Terraço', 'Vista Panorâmica', 'Piscina', 'Ace...
33    'Cozinha Americana', 'Quarto/WC Empregada', 'Á...
34    'Área de Serviço', 'Terraço', 'Piscina', 'Clos...
35    'Acessibilidade', 'Churrasqueira', 'Sauna', 'C...
36    'Sauna', 'Vista Panorâmica', 'Terraço', 'Mobil...
37     'Gás Encanado', 'Mobiliado', 'Cozinha Americana'
38    'Área de Serviço', 'Gás Encanado', 'Cozinha Am...
39    'Acessibilidade', 'Cozinha Americana', 'Varand...
40    'Sauna', 'Piscina', 'Closet', 'Varanda', 'Aces...
41                      'Mobiliado', 'Vista Panorâmica'
42
43    'Cozinha Americana', 'Vista Panorâmica', 'Gás ...
44    'Mobiliado', 'Varanda', 'Cozinha Americana', '...
45    'Ambientes Integrados', 'Sauna', 'Piscina', 'V...
46    'Acessibilidade', 'Gás Encanado', 'Área de Ser...
47    'Acessibilidade', 'Quarto/WC Empregada', 'Armá...
48    'Cozinha Americana', 'Mobiliado', 'Sauna', 'Pi...
49    'Varanda', 'Closet', 'Armários Planejados', 'P...
Name: imovel_caracteristicas_propriedade, dtype: object

In [69]:
Texto.str[1:-1].replace("'","")

0     'Área de Serviço', 'Terraço', 'Churrasqueira',...
1                                               'Sauna'
2     'Acessibilidade', 'Área de Serviço', 'Sauna', ...
3     'Vista Panorâmica', 'Piscina', 'Sauna', 'Close...
4                                 'Armários Planejados'
5     'Mobiliado', 'Varanda', 'Closet', 'Churrasquei...
6     'Churrasqueira', 'Gás Encanado', 'Cozinha Amer...
7     'Quarto/WC Empregada', 'Gás Encanado', 'Sauna'...
8     'Acessibilidade', 'Mobiliado', 'Churrasqueira'...
9     'Área de Serviço', 'Terraço', 'Ambientes Integ...
10    'Closet', 'Ambientes Integrados', 'Área de Ser...
11
12    'Piscina', 'Quarto/WC Empregada', 'Gás Encanad...
13    'Sauna', 'Terraço', 'Closet', 'Gás Encanado', ...
14
15    'Quarto/WC Empregada', 'Varanda', 'Piscina', '...
16    'Vista Panorâmica', 'Sauna', 'Área de Serviço'...
17      'Quarto/WC Empregada', 'Churrasqueira', 'Sauna'
18    'Sauna', 'Ambientes Integrados', 'Armários Pla...
19    'Mobiliado', 'Acessibilidade', 'Área de Serviç...
20    'Sauna', 'Gás Encanado', 'Terraço', 'Ambientes...
21
22    'Terraço', 'Armários Planejados', 'Ambientes I...
23    'Área de Serviço', 'Quarto/WC Empregada', 'Clo...
24    'Cozinha Americana', 'Gás Encanado', 'Mobiliad...
25    'Área de Serviço', 'Ambientes Integrados', 'Vi...
26    'Gás Encanado', 'Cozinha Americana', 'Vista Pa...
27    'Vista Panorâmica', 'Quarto/WC Empregada', 'Sa...
28    'Armários Planejados', 'Piscina', 'Churrasquei...
29
30    'Mobiliado', 'Sauna', 'Cozinha Americana', 'Ár...
31    'Cozinha Americana', 'Varanda', 'Vista Panorâm...
32    'Terraço', 'Vista Panorâmica', 'Piscina', 'Ace...
33    'Cozinha Americana', 'Quarto/WC Empregada', 'Á...
34    'Área de Serviço', 'Terraço', 'Piscina', 'Clos...
35    'Acessibilidade', 'Churrasqueira', 'Sauna', 'C...
36    'Sauna', 'Vista Panorâmica', 'Terraço', 'Mobil...
37     'Gás Encanado', 'Mobiliado', 'Cozinha Americana'
38    'Área de Serviço', 'Gás Encanado', 'Cozinha Am...
39    'Acessibilidade', 'Cozinha Americana', 'Varand...
40    'Sauna', 'Piscina', 'Closet', 'Varanda', 'Aces...
41                      'Mobiliado', 'Vista Panorâmica'
42
43    'Cozinha Americana', 'Vista Panorâmica', 'Gás ...
44    'Mobiliado', 'Varanda', 'Cozinha Americana', '...
45    'Ambientes Integrados', 'Sauna', 'Piscina', 'V...
46    'Acessibilidade', 'Gás Encanado', 'Área de Ser...
47    'Acessibilidade', 'Quarto/WC Empregada', 'Armá...
48    'Cozinha Americana', 'Mobiliado', 'Sauna', 'Pi...
49    'Varanda', 'Closet', 'Armários Planejados', 'P...
Name: imovel_caracteristicas_propriedade, dtype: object

In [70]:
Texto.str[1:-1].str.replace("'","")

0     Área de Serviço, Terraço, Churrasqueira, Quart...
1                                                 Sauna
2     Acessibilidade, Área de Serviço, Sauna, Ambien...
3     Vista Panorâmica, Piscina, Sauna, Closet, Mobi...
4                                   Armários Planejados
5     Mobiliado, Varanda, Closet, Churrasqueira, Amb...
6     Churrasqueira, Gás Encanado, Cozinha Americana...
7     Quarto/WC Empregada, Gás Encanado, Sauna, Vara...
8     Acessibilidade, Mobiliado, Churrasqueira, Pisc...
9     Área de Serviço, Terraço, Ambientes Integrados...
10    Closet, Ambientes Integrados, Área de Serviço,...
11
12    Piscina, Quarto/WC Empregada, Gás Encanado, Mo...
13    Sauna, Terraço, Closet, Gás Encanado, Vista Pa...
14
15    Quarto/WC Empregada, Varanda, Piscina, Sauna, ...
16    Vista Panorâmica, Sauna, Área de Serviço, Pisc...
17            Quarto/WC Empregada, Churrasqueira, Sauna
18    Sauna, Ambientes Integrados, Armários Planejad...
19    Mobiliado, Acessibilidade, Área de Serviço, Vi...
20    Sauna, Gás Encanado, Terraço, Ambientes Integr...
21
22    Terraço, Armários Planejados, Ambientes Integr...
23    Área de Serviço, Quarto/WC Empregada, Closet, ...
24    Cozinha Americana, Gás Encanado, Mobiliado, Ár...
25    Área de Serviço, Ambientes Integrados, Vista P...
26    Gás Encanado, Cozinha Americana, Vista Panorâm...
27    Vista Panorâmica, Quarto/WC Empregada, Sauna, ...
28    Armários Planejados, Piscina, Churrasqueira, A...
29
30    Mobiliado, Sauna, Cozinha Americana, Área de S...
31    Cozinha Americana, Varanda, Vista Panorâmica, ...
32    Terraço, Vista Panorâmica, Piscina, Acessibili...
33    Cozinha Americana, Quarto/WC Empregada, Área d...
34    Área de Serviço, Terraço, Piscina, Closet, Gás...
35    Acessibilidade, Churrasqueira, Sauna, Closet, ...
36    Sauna, Vista Panorâmica, Terraço, Mobiliado, P...
37           Gás Encanado, Mobiliado, Cozinha Americana
38    Área de Serviço, Gás Encanado, Cozinha America...
39    Acessibilidade, Cozinha Americana, Varanda, Gá...
40    Sauna, Piscina, Closet, Varanda, Acessibilidad...
41                          Mobiliado, Vista Panorâmica
42
43    Cozinha Americana, Vista Panorâmica, Gás Encan...
44    Mobiliado, Varanda, Cozinha Americana, Armário...
45    Ambientes Integrados, Sauna, Piscina, Vista Pa...
46    Acessibilidade, Gás Encanado, Área de Serviço,...
47    Acessibilidade, Quarto/WC Empregada, Armários ...
48    Cozinha Americana, Mobiliado, Sauna, Piscina, ...
49    Varanda, Closet, Armários Planejados, Piscina,...
Name: imovel_caracteristicas_propriedade, dtype: object

In [72]:
Texto = Texto.str[1:-1].str.replace("'","").str.split(", ")
Texto

0     [Área de Serviço, Terraço, Churrasqueira, Quar...
1                                               [Sauna]
2     [Acessibilidade, Área de Serviço, Sauna, Ambie...
3     [Vista Panorâmica, Piscina, Sauna, Closet, Mob...
4                                 [Armários Planejados]
5     [Mobiliado, Varanda, Closet, Churrasqueira, Am...
6     [Churrasqueira, Gás Encanado, Cozinha American...
7     [Quarto/WC Empregada, Gás Encanado, Sauna, Var...
8     [Acessibilidade, Mobiliado, Churrasqueira, Pis...
9     [Área de Serviço, Terraço, Ambientes Integrado...
10    [Closet, Ambientes Integrados, Área de Serviço...
11                                                   []
12    [Piscina, Quarto/WC Empregada, Gás Encanado, M...
13    [Sauna, Terraço, Closet, Gás Encanado, Vista P...
14                                                   []
15    [Quarto/WC Empregada, Varanda, Piscina, Sauna,...
16    [Vista Panorâmica, Sauna, Área de Serviço, Pis...
17          [Quarto/WC Empregada, Churrasqueira, Sauna]
18    [Sauna, Ambientes Integrados, Armários Planeja...
19    [Mobiliado, Acessibilidade, Área de Serviço, V...
20    [Sauna, Gás Encanado, Terraço, Ambientes Integ...
21                                                   []
22    [Terraço, Armários Planejados, Ambientes Integ...
23    [Área de Serviço, Quarto/WC Empregada, Closet,...
24    [Cozinha Americana, Gás Encanado, Mobiliado, Á...
25    [Área de Serviço, Ambientes Integrados, Vista ...
26    [Gás Encanado, Cozinha Americana, Vista Panorâ...
27    [Vista Panorâmica, Quarto/WC Empregada, Sauna,...
28    [Armários Planejados, Piscina, Churrasqueira, ...
29                                                   []
30    [Mobiliado, Sauna, Cozinha Americana, Área de ...
31    [Cozinha Americana, Varanda, Vista Panorâmica,...
32    [Terraço, Vista Panorâmica, Piscina, Acessibil...
33    [Cozinha Americana, Quarto/WC Empregada, Área ...
34    [Área de Serviço, Terraço, Piscina, Closet, Gá...
35    [Acessibilidade, Churrasqueira, Sauna, Closet,...
36    [Sauna, Vista Panorâmica, Terraço, Mobiliado, ...
37         [Gás Encanado, Mobiliado, Cozinha Americana]
38    [Área de Serviço, Gás Encanado, Cozinha Americ...
39    [Acessibilidade, Cozinha Americana, Varanda, G...
40    [Sauna, Piscina, Closet, Varanda, Acessibilida...
41                        [Mobiliado, Vista Panorâmica]
42                                                   []
43    [Cozinha Americana, Vista Panorâmica, Gás Enca...
44    [Mobiliado, Varanda, Cozinha Americana, Armári...
45    [Ambientes Integrados, Sauna, Piscina, Vista P...
46    [Acessibilidade, Gás Encanado, Área de Serviço...
47    [Acessibilidade, Quarto/WC Empregada, Armários...
48    [Cozinha Americana, Mobiliado, Sauna, Piscina,...
49    [Varanda, Closet, Armários Planejados, Piscina...
Name: imovel_caracteristicas_propriedade, dtype: object

In [73]:
type(Texto[0])

list

#### `filter`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html)

In [78]:
columns= dados_normal_listings.filter(like='imovel_caracteristicas').columns

for column in columns:
 dados_normal_listings[column] = dados_normal_listings[column].str[1:-1].str.replace("'","").str.split(", ")
 dados_highlights_listings[column] = dados_highlights_listings[column].str[1:-1].str.replace("'","").str.split(", ")

In [79]:
dados_normal_listings.loc[0, 'imovel_caracteristicas_propriedade'][0]

'Área de Serviço'

# COMBINANDO CONJUNTOS DE DADOS
---

In [80]:
dados_normal_listings.head(3)

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"[Área de Serviço, Terraço, Churrasqueira, Quar...","[Churrasqueira, Salão de Jogos, Sauna, Estacio...","[Próximo a Escola Particular, Próximo ao Metrô...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,[Sauna],"[Elevador, Playground, Salão de Festas, Sistem...","[Próximo ao Shopping, Próximo a Áreas de Lazer...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Cobertura,Barra da Tijuca,Point,"[-43.3037186, -22.9951304]",2,380,"[Acessibilidade, Área de Serviço, Sauna, Ambie...","[Sauna, Playground, Quadra Poliesportiva, Salã...",[Próximo a Escola Particular],Premium,Usado,4400000.0,0.0,1200.0,850.0,"Amplo imóvel para venda com 5 quartos, sendo 4..."

In [81]:
dados_highlights_listings.head(3)

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Engenho Novo,Point,"[-43.2634918, -22.8971768]",0,0,"[Sauna, Terraço, Acessibilidade, Mobiliado, Vi...","[Estacionamento Coberto, Estacionamento Visita...","[Próximo a Serviços de Saúde, Próximo ao Shopp...",Padrão,Usado,195772.0,0.0,0.0,0.0,"Amplo imóvel para venda com 0 quartos, sendo 0..."
1,Cobertura,Vargem Grande,Point,"[-43.4907917, -22.988122]",1,61,[],"[Estacionamento Visitantes, Estacionamento Cob...","[Próximo ao Metrô, Próximo a Praia, Próximo a ...",Destaque,Usado,305000.0,0.0,667.0,162.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Imóvel Comercial,Ribeira,Point,"[-43.1690005, -22.8239272]",4,180,"[Vista Panorâmica, Acessibilidade, Área de Ser...","[Segurança Interna, Salão de Festas, Academia,...","[Próximo a Restaurante, Próximo a Praia, Próxi...",Padrão,Usado,1050000.0,0.0,0.0,315.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."

In [82]:
dados_normal_listings.columns == dados_highlights_listings.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

## Empilhando *DataFrames*

### `append`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html)

In [86]:
dados_normal_listings.append(dados_highlights_listings)

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"[Área de Serviço, Terraço, Churrasqueira, Quar...","[Churrasqueira, Salão de Jogos, Sauna, Estacio...","[Próximo a Escola Particular, Próximo ao Metrô...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,[Sauna],"[Elevador, Playground, Salão de Festas, Sistem...","[Próximo ao Shopping, Próximo a Áreas de Lazer...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Cobertura,Barra da Tijuca,Point,"[-43.3037186, -22.9951304]",2,380,"[Acessibilidade, Área de Serviço, Sauna, Ambie...","[Sauna, Playground, Quadra Poliesportiva, Salã...",[Próximo a Escola Particular],Premium,Usado,4400000.0,0.0,1200.0,850.0,"Amplo imóvel para venda com 5 quartos, sendo 4..."
3,Cobertura,Barra da Tijuca,Point,"[-43.3548121, -23.0097423]",1,73,"[Vista Panorâmica, Piscina, Sauna, Closet, Mob...","[Quadra Poliesportiva, Aceita Pet, Playground,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1100000.0,0.0,1300.0,364.0,"Amplo imóvel para venda com 2 quartos, sendo 1..."
4,Sala Comercial,Glória,Point,"[-43.1779703, -22.9174894]",1,32,[Armários Planejados],"[Quadra Poliesportiva, Porteiro 24 Horas, Elev...","[Próximo a Centro Empresarial, Próximo a Áreas...",Padrão,Usado,260000.0,0.0,450.0,800.0,"Amplo imóvel para venda com 0 quartos, sendo 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,Apartamento,Copacabana,Point,"[-43.1943902, -22.9816847]",1,216,"[Cozinha Americana, Quarto/WC Empregada, Pisci...","[Elevador, Salão de Festas, Porteiro 24 Horas,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1800000.0,0.0,2000.0,2300.0,"Amplo imóvel para venda com 4 quartos, sendo 2..."
16,Apartamento,Leblon,Point,"[-43.2253114, -22.9843603]",1,218,"[Piscina, Gás Encanado]","[Academia, Aceita Pet, Sistema de Incêndio, Bi...","[Próximo a Comércio Diversos, Próximo a Centro...",Premium,Usado,4500000.0,0.0,3600.0,7000.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
17,Casa,Copacabana,Point,"[-43.1951842, -22.9818646]",0,25,"[Closet, Armários Planejados, Quarto/WC Empreg...","[Bicicletário, Sistema de Incêndio, Segurança ...",[],Destaque,Usado,350000.0,0.0,290.0,182.0,"Amplo imóvel para venda com 1 quartos, sendo 0..."
18,Sala Comercial,Cachambi,Point,"[-43.2781994, -22.8917611]",2,138,"[Gás Encanado, Acessibilidade, Ambientes Integ...","[Playground, Depósito Privativo, Academia, Qua...","[Próximo a Praia, Próximo a Serviços de Saúde,...",Premium,Usado,619000.0,0.0,506.0,1404.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
19,Apartamento,Tijuca,Point,"[-43.2356544, -22.9264543]",0,100,"[Churrasqueira, Gás Encanado, Quarto/WC Empreg...","[Academia, Quadra Poliesportiva, Sauna, Estaci...","[Próximo a Comércio Diversos, Próximo a Áreas ...",Padrão,Usado,580000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."

In [87]:
dados_normal_listings.append(dados_highlights_listings, ignore_index=True)

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"[Área de Serviço, Terraço, Churrasqueira, Quar...","[Churrasqueira, Salão de Jogos, Sauna, Estacio...","[Próximo a Escola Particular, Próximo ao Metrô...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,[Sauna],"[Elevador, Playground, Salão de Festas, Sistem...","[Próximo ao Shopping, Próximo a Áreas de Lazer...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Cobertura,Barra da Tijuca,Point,"[-43.3037186, -22.9951304]",2,380,"[Acessibilidade, Área de Serviço, Sauna, Ambie...","[Sauna, Playground, Quadra Poliesportiva, Salã...",[Próximo a Escola Particular],Premium,Usado,4400000.0,0.0,1200.0,850.0,"Amplo imóvel para venda com 5 quartos, sendo 4..."
3,Cobertura,Barra da Tijuca,Point,"[-43.3548121, -23.0097423]",1,73,"[Vista Panorâmica, Piscina, Sauna, Closet, Mob...","[Quadra Poliesportiva, Aceita Pet, Playground,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1100000.0,0.0,1300.0,364.0,"Amplo imóvel para venda com 2 quartos, sendo 1..."
4,Sala Comercial,Glória,Point,"[-43.1779703, -22.9174894]",1,32,[Armários Planejados],"[Quadra Poliesportiva, Porteiro 24 Horas, Elev...","[Próximo a Centro Empresarial, Próximo a Áreas...",Padrão,Usado,260000.0,0.0,450.0,800.0,"Amplo imóvel para venda com 0 quartos, sendo 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Apartamento,Copacabana,Point,"[-43.1943902, -22.9816847]",1,216,"[Cozinha Americana, Quarto/WC Empregada, Pisci...","[Elevador, Salão de Festas, Porteiro 24 Horas,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1800000.0,0.0,2000.0,2300.0,"Amplo imóvel para venda com 4 quartos, sendo 2..."
66,Apartamento,Leblon,Point,"[-43.2253114, -22.9843603]",1,218,"[Piscina, Gás Encanado]","[Academia, Aceita Pet, Sistema de Incêndio, Bi...","[Próximo a Comércio Diversos, Próximo a Centro...",Premium,Usado,4500000.0,0.0,3600.0,7000.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
67,Casa,Copacabana,Point,"[-43.1951842, -22.9818646]",0,25,"[Closet, Armários Planejados, Quarto/WC Empreg...","[Bicicletário, Sistema de Incêndio, Segurança ...",[],Destaque,Usado,350000.0,0.0,290.0,182.0,"Amplo imóvel para venda com 1 quartos, sendo 0..."
68,Sala Comercial,Cachambi,Point,"[-43.2781994, -22.8917611]",2,138,"[Gás Encanado, Acessibilidade, Ambientes Integ...","[Playground, Depósito Privativo, Academia, Qua...","[Próximo a Praia, Próximo a Serviços de Saúde,...",Premium,Usado,619000.0,0.0,506.0,1404.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
69,Apartamento,Tijuca,Point,"[-43.2356544, -22.9264543]",0,100,"[Churrasqueira, Gás Encanado, Quarto/WC Empreg...","[Academia, Quadra Poliesportiva, Sauna, Estaci...","[Próximo a Comércio Diversos, Próximo a Áreas ...",Padrão,Usado,580000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."

In [ ]:
dados_listings = dados_normal_listings.append(dados_highlights_listings, ignore_index=True)
dados_listings

### `concat`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

In [ ]:
dados_listings = pd.concat([dados_normal_listings, dados_highlights_listings])
dados_listings

In [92]:
dados_listings = pd.concat([dados_normal_listings, dados_highlights_listings], ignore_index=True)
dados_listings

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"[Área de Serviço, Terraço, Churrasqueira, Quar...","[Churrasqueira, Salão de Jogos, Sauna, Estacio...","[Próximo a Escola Particular, Próximo ao Metrô...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,[Sauna],"[Elevador, Playground, Salão de Festas, Sistem...","[Próximo ao Shopping, Próximo a Áreas de Lazer...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Cobertura,Barra da Tijuca,Point,"[-43.3037186, -22.9951304]",2,380,"[Acessibilidade, Área de Serviço, Sauna, Ambie...","[Sauna, Playground, Quadra Poliesportiva, Salã...",[Próximo a Escola Particular],Premium,Usado,4400000.0,0.0,1200.0,850.0,"Amplo imóvel para venda com 5 quartos, sendo 4..."
3,Cobertura,Barra da Tijuca,Point,"[-43.3548121, -23.0097423]",1,73,"[Vista Panorâmica, Piscina, Sauna, Closet, Mob...","[Quadra Poliesportiva, Aceita Pet, Playground,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1100000.0,0.0,1300.0,364.0,"Amplo imóvel para venda com 2 quartos, sendo 1..."
4,Sala Comercial,Glória,Point,"[-43.1779703, -22.9174894]",1,32,[Armários Planejados],"[Quadra Poliesportiva, Porteiro 24 Horas, Elev...","[Próximo a Centro Empresarial, Próximo a Áreas...",Padrão,Usado,260000.0,0.0,450.0,800.0,"Amplo imóvel para venda com 0 quartos, sendo 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Apartamento,Copacabana,Point,"[-43.1943902, -22.9816847]",1,216,"[Cozinha Americana, Quarto/WC Empregada, Pisci...","[Elevador, Salão de Festas, Porteiro 24 Horas,...","[Próximo a Farmácia, Próximo a Academia, Próxi...",Padrão,Usado,1800000.0,0.0,2000.0,2300.0,"Amplo imóvel para venda com 4 quartos, sendo 2..."
66,Apartamento,Leblon,Point,"[-43.2253114, -22.9843603]",1,218,"[Piscina, Gás Encanado]","[Academia, Aceita Pet, Sistema de Incêndio, Bi...","[Próximo a Comércio Diversos, Próximo a Centro...",Premium,Usado,4500000.0,0.0,3600.0,7000.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
67,Casa,Copacabana,Point,"[-43.1951842, -22.9818646]",0,25,"[Closet, Armários Planejados, Quarto/WC Empreg...","[Bicicletário, Sistema de Incêndio, Segurança ...",[],Destaque,Usado,350000.0,0.0,290.0,182.0,"Amplo imóvel para venda com 1 quartos, sendo 0..."
68,Sala Comercial,Cachambi,Point,"[-43.2781994, -22.8917611]",2,138,"[Gás Encanado, Acessibilidade, Ambientes Integ...","[Playground, Depósito Privativo, Academia, Qua...","[Próximo a Praia, Próximo a Serviços de Saúde,...",Premium,Usado,619000.0,0.0,506.0,1404.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
69,Apartamento,Tijuca,Point,"[-43.2356544, -22.9264543]",0,100,"[Churrasqueira, Gás Encanado, Quarto/WC Empreg...","[Academia, Quadra Poliesportiva, Sauna, Estaci...","[Próximo a Comércio Diversos, Próximo a Áreas ...",Padrão,Usado,580000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."

## Combinando *DataFrames* a partir de uma chave de ligação

In [93]:
dados_listings.head(2)

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"[Área de Serviço, Terraço, Churrasqueira, Quar...","[Churrasqueira, Salão de Jogos, Sauna, Estacio...","[Próximo a Escola Particular, Próximo ao Metrô...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,[Sauna],"[Elevador, Playground, Salão de Festas, Sistem...","[Próximo ao Shopping, Próximo a Áreas de Lazer...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."

In [94]:
bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]

### Tratando a variável de ligação

#### Selecionando a variável de ligação nos dois *DataFrames*

In [97]:
bairros_amostra = dados_listings['imovel_endereco_bairro']
bairros_amostra

0     Barra da Tijuca
1        Campo Grande
2     Barra da Tijuca
3     Barra da Tijuca
4              Glória
           ...
65         Copacabana
66             Leblon
67         Copacabana
68           Cachambi
69             Tijuca
Name: imovel_endereco_bairro, Length: 70, dtype: object

[Documentação: `get_level_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.get_level_values.html)

In [98]:
bairros_todos = bairros.index.get_level_values('bairros')
bairros_todos

Index(['São Cristóvão', 'São Cristóvão', 'São Cristóvão', 'São Cristóvão',
       'São Cristóvão', 'São Cristóvão', 'São Cristóvão', 'Benfica', 'Benfica',
       'Benfica',
       ...
       'Vila Kosmos', 'Vila Kosmos', 'Vila Kosmos', 'Vista Alegre',
       'Vista Alegre', 'Vista Alegre', 'Vista Alegre', 'Vista Alegre',
       'Vista Alegre', 'Vista Alegre'],
      dtype='object', name='bairros', length=1127)

#### Identificando e eliminando valores duplicados - `nunique` e `unique`

[Documentação: `nunique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)

[Documentação: `unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)

In [99]:
bairros_amostra.shape

(70,)

In [100]:
bairros_amostra.nunique()

30

In [101]:
bairros_amostra.unique()

array(['Barra da Tijuca', 'Campo Grande', 'Glória', 'Vila Isabel',
       'Andaraí', 'Copacabana', 'Recreio dos Bandeirantes', 'Tijuca',
       'Méier', 'Ipanema', 'Paciência', 'Freguesia (Jacarepaguá)',
       'Vargem Pequena', 'Pechincha', 'Freguesia', 'Botafogo',
       'Vila da Penha', 'Jacarepaguá', 'Laranjeiras', 'Ribeira', 'Lapa',
       'Rocha', 'Flamengo', 'Engenho Novo', 'Vargem Grande', 'Praça Seca',
       'Honório Gurgel', 'Lagoa', 'Leblon', 'Cachambi'], dtype=object)

In [102]:
type(bairros_amostra.unique())

numpy.ndarray

In [103]:
bairros_amostra = pd.Series(bairros_amostra.unique())
bairros_amostra

0              Barra da Tijuca
1                 Campo Grande
2                       Glória
3                  Vila Isabel
4                      Andaraí
5                   Copacabana
6     Recreio dos Bandeirantes
7                       Tijuca
8                        Méier
9                      Ipanema
10                   Paciência
11     Freguesia (Jacarepaguá)
12              Vargem Pequena
13                   Pechincha
14                   Freguesia
15                    Botafogo
16               Vila da Penha
17                 Jacarepaguá
18                 Laranjeiras
19                     Ribeira
20                        Lapa
21                       Rocha
22                    Flamengo
23                Engenho Novo
24               Vargem Grande
25                  Praça Seca
26              Honório Gurgel
27                       Lagoa
28                      Leblon
29                    Cachambi
dtype: object

---

In [105]:
bairros_todos.shape

(1127,)

In [110]:
bairros_todos.nunique()

161

In [106]:
bairros_todos.unique()

Index(['São Cristóvão', 'Benfica', 'Caju', 'Catumbi', 'Centro', 'Cidade Nova',
       'Estácio', 'Gamboa', 'Glória', 'Lapa',
       ...
       'Ricardo de Albuquerque', 'Rocha Miranda', 'Tomás Coelho', 'Turiaçu',
       'Vaz Lobo', 'Vicente de Carvalho', 'Vigário Geral', 'Vila da Penha',
       'Vila Kosmos', 'Vista Alegre'],
      dtype='object', name='bairros', length=161)

In [111]:
bairros_todos = pd.Series(bairros_todos.unique())
bairros_todos

0            São Cristóvão
1                  Benfica
2                     Caju
3                  Catumbi
4                   Centro
              ...
156    Vicente de Carvalho
157          Vigário Geral
158          Vila da Penha
159            Vila Kosmos
160           Vista Alegre
Name: bairros, Length: 161, dtype: object

#### Verificando se existe correspondência entre as variáveis de ligação

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html)

In [112]:
bairros_amostra

0              Barra da Tijuca
1                 Campo Grande
2                       Glória
3                  Vila Isabel
4                      Andaraí
5                   Copacabana
6     Recreio dos Bandeirantes
7                       Tijuca
8                        Méier
9                      Ipanema
10                   Paciência
11     Freguesia (Jacarepaguá)
12              Vargem Pequena
13                   Pechincha
14                   Freguesia
15                    Botafogo
16               Vila da Penha
17                 Jacarepaguá
18                 Laranjeiras
19                     Ribeira
20                        Lapa
21                       Rocha
22                    Flamengo
23                Engenho Novo
24               Vargem Grande
25                  Praça Seca
26              Honório Gurgel
27                       Lagoa
28                      Leblon
29                    Cachambi
dtype: object

In [113]:
bairros_amostra.isin(bairros_todos)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
dtype: bool

In [115]:
bairros.loc["Freguesia"]

                  valor_m2_bairro
tipo
Casa                        15156
Apartamento                  7930
Cobertura                   15391
Consultório                  4479
Imóvel Comercial            16730
Loja                         7095
Sala Comercial               8666

In [116]:
bairros.loc["Jacarepaguá"]

                  valor_m2_bairro
tipo
Casa                        19073
Apartamento                  8574
Cobertura                   16140
Consultório                  7554
Imóvel Comercial            10599
Loja                         7305
Sala Comercial               5023

#### Ajustando os valores

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.replace.html)

In [118]:
dados_listings['imovel_endereco_bairro'].replace('Freguesia (Jacarepaguá)', 'Freguesia', inplace=True)

In [119]:
bairros_amostra = pd.Series(dados_listings['imovel_endereco_bairro'].unique())
bairros_amostra

0              Barra da Tijuca
1                 Campo Grande
2                       Glória
3                  Vila Isabel
4                      Andaraí
5                   Copacabana
6     Recreio dos Bandeirantes
7                       Tijuca
8                        Méier
9                      Ipanema
10                   Paciência
11                   Freguesia
12              Vargem Pequena
13                   Pechincha
14                    Botafogo
15               Vila da Penha
16                 Jacarepaguá
17                 Laranjeiras
18                     Ribeira
19                        Lapa
20                       Rocha
21                    Flamengo
22                Engenho Novo
23               Vargem Grande
24                  Praça Seca
25              Honório Gurgel
26                       Lagoa
27                      Leblon
28                    Cachambi
dtype: object

In [120]:
bairros_amostra.isin(bairros_todos)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
dtype: bool

### Combinando os *DataFrames*

#### `merge`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html)

```
pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None)
```

**Parameters**

- **left**: DataFrame


- **right**: DataFrame
    

- **how**: {‘left’, ‘right’, ‘outer’, ‘inner’}, *default* ‘inner’

        Tipo de junção que será realizada.

        - left: usa apenas as chaves do DataFrame especificado no parâmetro left.

        - right: usa apenas as chaves do DataFrame especificado no parâmetro right.

        - outer: considera todos os registros dos DataFrames especificados nos parâmetros left e right, isto é, faz a união das chaves.

        - inner: considera apenas a interseção das chaves dos DataFrames especificados nos parâmetros left e right.
    

- **on**: label ou list

        Nomes das colunas ou dos índices que serão utilizados na junção. Estes devem ser encontrados em ambos os DataFrames.
        

- **left_on**: label ou list, or array-like

        Nomes das colunas ou dos índices do DataFrame especificado em left que serão utilizados na junção.
        

- **right_on**: label or list, or array-like

        Nomes das colunas ou dos índices do DataFrame especificado em right que serão utilizados na junção.
    

- **left_index**: bool, *default False*

        Indica se o índice do DataFrame especificado no parâmetro left deve ser utilizado como chave de junção.
        

- **right_index**: bool, *default False*

        Indica se o índice do DataFrame especificado no parâmetro right deve ser utilizado como chave de junção.

# ADICIONANDO INFORMAÇÕES
---

## Criando as colunas `quartos`, `suites` e `banheiros`

### `str.extractall`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extractall.html)

### `unstack`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

### `droplevel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html)

## Criando novas classificações

### Com dados categóricos - `map`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html)

In [ ]:
tipo_uso = {
    'Apartamento': 'Residencial',
    'Casa': 'Residencial',
    'Cobertura': 'Residencial',
    'Consultório': 'Comercial',
    'Imóvel Comercial': 'Comercial',
    'Loja': 'Comercial',
    'Sala Comercial': 'Comercial'
}

#### `insert`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html)

### Com dados numéricos - `cut`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

#### Utilizando classes fixas

#### Utilizando classes personalizadas

## Novas colunas derivadas das informações existentes

### Valor por m²

#### `apply`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

### Piscina?

# TABULAÇÕES E SUMARIZAÇÕES
---

## Agrupamentos

### `aggregate`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html)

### `groupby`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

### `value_counts`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html)

#### `to_frame`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_frame.html)

## Mudando o formato de um *DataFrame*

### `unstack`

Faz a rotação ou o pivoteamento das linhas para as colunas.

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

### `stack`

Faz a rotação ou o pivoteamento das colunas de um *DataFrame* para as linhas.

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html)

## Criando tabelas dinâmicas

### `pivot`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html)

#### `droplevel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html)

#### `reset_index`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)

### `pivot_table`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html)

# TABULAÇÕES E ESTILIZAÇÃO
---

## Tabulações a partir de informações no formato de listas

### `explode`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.explode.html)

#### `where`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.where.html)

## Estilizando um DataFrame

### `style`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.style.html)

#### `format`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.format.html)

#### `bar`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.bar.html)

#### `applymap`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.applymap.html)

#### `highlight_max` e `highlight_min`

[Documentação: `highlight_max`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.highlight_max.html)

[Documentação: `highlight_min`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.highlight_min.html)

#### `background_gradient`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.background_gradient.html)

#### `to_excel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.to_excel.html)

# ANEXOS
---

### Opções para o parâmetro `cmap`

[Documentação](https://matplotlib.org/3.3.2/tutorials/colors/colormaps.html)

In [ ]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import cm
from collections import OrderedDict

cmaps = OrderedDict()

In [ ]:
cmaps['Perceptually Uniform Sequential'] = [
            'viridis', 'plasma', 'inferno', 'magma', 'cividis']

cmaps['Sequential'] = [
            'Greys', 'Purples', 'Blues', 'Greens', 'Oranges', 'Reds',
            'YlOrBr', 'YlOrRd', 'OrRd', 'PuRd', 'RdPu', 'BuPu',
            'GnBu', 'PuBu', 'YlGnBu', 'PuBuGn', 'BuGn', 'YlGn']

cmaps['Sequential (2)'] = [
            'binary', 'gist_yarg', 'gist_gray', 'gray', 'bone', 'pink',
            'spring', 'summer', 'autumn', 'winter', 'cool', 'Wistia',
            'hot', 'afmhot', 'gist_heat', 'copper']

cmaps['Diverging'] = [
            'PiYG', 'PRGn', 'BrBG', 'PuOr', 'RdGy', 'RdBu',
            'RdYlBu', 'RdYlGn', 'Spectral', 'coolwarm', 'bwr', 'seismic']

cmaps['Cyclic'] = ['twilight', 'twilight_shifted', 'hsv']

cmaps['Qualitative'] = ['Pastel1', 'Pastel2', 'Paired', 'Accent',
                        'Dark2', 'Set1', 'Set2', 'Set3',
                        'tab10', 'tab20', 'tab20b', 'tab20c']

cmaps['Miscellaneous'] = [
            'flag', 'prism', 'ocean', 'gist_earth', 'terrain', 'gist_stern',
            'gnuplot', 'gnuplot2', 'CMRmap', 'cubehelix', 'brg',
            'gist_rainbow', 'rainbow', 'jet', 'nipy_spectral',
            'gist_ncar']

In [ ]:
nrows = max(len(cmap_list) for cmap_category, cmap_list in cmaps.items())
gradient = np.linspace(0, 1, 256)
gradient = np.vstack((gradient, gradient))


def plot_color_gradients(cmap_category, cmap_list, nrows):
    fig, axes = plt.subplots(nrows=nrows)
    fig.subplots_adjust(top=0.95, bottom=0.01, left=0.2, right=0.99)
    axes[0].set_title(cmap_category + ' colormaps', fontsize=14)

    for ax, name in zip(axes, cmap_list):
        ax.imshow(gradient, aspect='auto', cmap=plt.get_cmap(name))
        pos = list(ax.get_position().bounds)
        x_text = pos[0] - 0.01
        y_text = pos[1] + pos[3]/2.
        fig.text(x_text, y_text, name, va='center', ha='right', fontsize=10)

    # Turn off *all* ticks & spines, not just the ones with colormaps.
    for ax in axes:
        ax.set_axis_off()


for cmap_category, cmap_list in cmaps.items():
    plot_color_gradients(cmap_category, cmap_list, nrows)

plt.show()